body {
    background-color: darkgreen;
}

header {
    background-color: darkred;
    color: gold;
    padding: 10% 0;
    text-align: center;
    font-size: 75%;
}

body {
    background-color: darkblue;
}

nav {
    background-color: yellow;
}

nav ul {
    padding: 10%;
    list-style: none;
}

nav li {
    display: block;
}

nav li a:hover {
    background-color: darkgreen;
    color: silver;
}

main {
    background-color: darkgreen;
    padding: 10%;
}

article {
    background-color: darkblue;
    padding: 0;
}

article img {
    display: block;
    margin: 20px auto;
    width: 75%;
    border-radius: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.projects {
    background-color: darkred;
    padding: 0;
    margin-top: 0%;
}

.projects img {
    display: block;
    width: 75%;
    margin: 0 0;
    border-radius: 10px;
}

aside {
    background-color: darkblue;
    margin: 0 0;
    padding: 0;
    text-align: center;
}

aside h2 {
    margin-bottom: 40px;
}

aside ul {
    padding: 0;
    list-style: none;
}

aside li {
    display: inline-block;
}

aside li a {
    padding: 0 0;
    background-color: yellow;
    text-align: center;
    color: darkred;
    font-size: 75%;
    text-decoration: none;
}

aside li a:hover {
    background-color: darkred;
}

footer {
    background-color: darkblue;
    text-align: center;
    color: gold;
    padding: 0 0;
}

.feature {
    background-color: darkgreen;
    padding: 0 0;
    margin-top: 0%;
}

#menu {
    display: none;
}

div.bx-wrapper {
    display: none;
}

.button {
    padding: 0 0;
    background-color: yellow;
    text-align: center;
    color: darkred;
    font-size: 75%;
    text-decoration: none;
}


@media only screen and (min-width: 481px) {
    
    nav {
        text-align: center;
    }

    nav li {
        display: inline-block;
        width: 75%;
    }

    nav li  a {
        background-color: darkgreen;
        color: silver;
    }

    #menu {
        display: block;
    }

    .slicknav_menu {
        display: none;
    }

    div.bx-wrapper {
        display: block;
    }

}

@media only screen and (min-width: 791px) {

    article img {
        display: block;
        margin: 20px 0;
        width: 75%;
    }

    .feature {
        background-color: darkgreen;
        padding: 0 0;
        margin-top: 0%;
    }

    .projects {
        display: flex;
    }

    .projects {
        margin: 0%;
    }
}